.page-title {
    margin: 25px 0;
}
.entry-meta {
    padding-bottom: 5px;
    @include media-breakpoint-up(md){
        display: flex;
    }
    
    align-items: center;
    .posted-on {
        .fa {
            color: $primary;
        }
        
    }
    .social-sharing {
        display: inline-flex;
        margin-left: auto;
    }
    
    .meta-categories {
        margin-left: 40px;
        background-color: $primary;
        padding: 5px 8px;
        border-radius: 20px;
        a {
            color: $white;
        }
    }
}

.archive-content-wrapper{
    padding: 24px;

    .understrap-read-more-link {
        text-transform: uppercase;
    }

    .post {
        .entry-meta {
            border-bottom: none;
        }
    }
}

.post {
    .entry-header{
        margin-top: 25px;

        
    }
    .single-post {
        .entry-meta {
            border-bottom: 1px solid $grey;
        }
    
    }
    .single-footer {
        border-bottom: 1px solid $grey;
        @include media-breakpoint-up(sm){
            margin-top: 25px;
            padding-bottom: 10px;
        }
    }
    
    .entry-content {
        margin-top: 15px;
    }
}
.tag-list {
    
    
    .tag {
        display: inline-block;
        padding: 5px 8px;
        margin: 4px;
        border-radius: 20px;
        border: 1px solid $primary;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
}

.post-navigation {
    margin-top: 25px;
}

.widget-area {
    margin-top: 25px;
    @include media-breakpoint-down(md) {
        margin-top: 20px;
    }
}
