.digital-services {
    h2 {
        font-family : $bebas;
        @include media-breakpoint-up(sm) {
            font-size : 39px;
            letter-spacing : 0.39px;
        }
        font-size : 30px;
        letter-spacing : 0.3px;
        text-transform : uppercase;
    }

    p {
        font-family : $gothambook;
        font-size : 21px;
        line-height : 27px;
        letter-spacing : -0.52px;
    }

    a.case-study {
        text-decoration: none;
    }

    .digital-services-header{
        @include media-breakpoint-up(sm){
            background-image: url(../images/digitalheaderimage1.png);
        }
        @include media-breakpoint-down(sm){
            margin-top: 56px;
        }
        background-image: url(../images/digitalheaderimage1.png);
       // padding: 100px 45px 28px;
    
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        width: 100%;
        position: fixed;
        height: auto;
        z-index: -1000;
        overflow: hidden;
        object-fit: cover;
        @include media-breakpoint-down(sm) {
            position: relative;
        }    
       
    }

    

    .service-google-map-management {
        @include media-breakpoint-up(sm){
            padding-bottom: 42px;
        }
        padding-bottom: 28px;
        background-color: $primary;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .mobile-google-map {
            display: block;
            @include media-breakpoint-up(sm){
                display: none;
            }
        }
        .desktop-google-map {
            display: none;
            @include media-breakpoint-up(sm){
                display: block;
            }
        }
        .row {
            @include media-breakpoint-up(sm) {
                padding-top: 50px;
            }
            padding-top: 30px;
            
        }
        h2 {
            color :$white;
    
        }
        p {
            color : $white;
        }
        .case-study {
            @include media-breakpoint-up(sm){
                margin-top: 10px;
            }
            margin-top: 63px;
            .pdf-icon {
                
                border-style : Solid;
                border-color : $white;
                border-width : 1px;
                
            }
            p { 
                color : $white;
            }
        }
    
    }

    .service-service-line-seo {
        background-color: $white;
        padding-top: 80px;
        padding-bottom: 85px;
        h2 {
            color: $primary;
        }
        p {
            color: $dark_grey;
        }
        .case-study {
            @include media-breakpoint-up(sm){
                margin-top: 10px;
            }
            margin-top: 60px;
            .pdf-icon {
                background : #C0DFE0;
                border-style : Solid;
                border-color : $white;
                border-width : 2px;
                
            }
            p { 
                color : #EC575D;
            }
        }

        
    }

    .service-analytics-architecture {
        padding-top: 45px;
        padding-bottom: 28px;
        @include media-breakpoint-up(sm){
            background: url(../images/service-analytics-architecture.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        background: url(../images/service-analytics-architecture-mobile.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        h2 {
            color: $primary;
        }
        p {
            color: $dark_grey;
        }
        .case-study {
            @include media-breakpoint-down(sm){
                margin-top: 65px;
            }
            .pdf-icon {
                background : #C0DFE0;    
            }
            p { 
                color : #EC575D;
            }
        }
    }

    .service-website-projects {
        background-color: $white;
        padding-top: 65px;
        padding-bottom: 48px;

        h2 {
            color: $primary;
        }
        p {
            color: $dark-grey;
        }
        .case-study {
            @include media-breakpoint-down(sm){
                margin-top: 60px;
            }
            .pdf-icon {
                background : #C0DFE0;
                border-style : Solid;
                border-color : $white;
                border-width : 2px;
                
            }
            p { 
                color : #EC575D;
            }
        }
    }
    .service-google-adwords{
        padding-top: 42px;
        padding-bottom: 252px;
        @include media-breakpoint-up(sm){
            padding-bottom: 112px;
        }
        background-image: url(../images/service-google-adwords-mobile.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include media-breakpoint-up(sm) {
            background-image: url(../images/service-google-adwords.png);
        }

        h2 {
            color: $white;
        }
        p {
            color: $white;
        }
        .case-study {
            .pdf-icon {
                
                border-style : Solid;
                border-color : $white;
                border-width : 1px;
                
            }
            p { 
                color : $white;
            }
        }

    }
    .case-study {
        p {
            font-family : $bebas;
            @include media-breakpoint-up(sm){
                font-size : 22px;
                letter-spacing : 0.22px;
            }
            font-size : 24px;
            letter-spacing : 0.24px;
            text-transform : uppercase;
            margin-left:10px;
            padding-top: 15px;
        }
        .pdf-icon {
            
            border-width : 2px;
            border-radius: 50%;
            width : 77px;
            height : 77px;
            padding-top: 10px;            
            img {
                // vertical-align: middle;
            }
        }
    }

}

.container .case-study {
    @include media-breakpoint-down(sm){
        display: block !important;
    }
    .align-items-center {
        @include media-breakpoint-down(sm){
            margin: 0 auto;
            text-align: center;
        }
    }
    
}

.myriad-submit:before {
    
    //content: url(../images/primary-arrow.png);
    background-image: url(../images/primary-arrow.png);
    content: '';
    background-color: $grey;
    background-size: 15px 25px;
    background-repeat: no-repeat;
    background-position: center;
    width: 31px;
    height: 33px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    
}
.myriad-submit {
    display: inline-flex;

    input.nf-element {
        height: 33px;
        background-color: $primary;
        border: none;
        color: $white;
        margin-left: 2px;
            margin-bottom: 0;
            padding: 0 26px;
            align-items: center;
            display: inline-flex;
            float: left;
            flex-basis: 1;
            font-family: $bebas;
            font-size : 16px;
            
            letter-spacing : 0.16px;
            text-transform : uppercase;
            // @include media-breakpoint-up(lg) {
            //     font-size : 33px;
            // }
            // @include media-breakpoint-down(sm) {
            //     font-size : 16px;
            //     letter-spacing: 0.4px;
            // }
    }
}
