.footer {
    background-color: $primary;
    color: $white;
    font-family: $myriad;
    font-size : 16px;
    line-height : 27px;
    letter-spacing : -0.16px;
    padding-bottom: 70px;
    margin-top: -5px;
    

    .tag-line {
        padding-top: 30px;
        font-family : $bebas;
        font-size : 47px;
        // letter-spacing : 1.55px;
        text-transform : uppercase;
        color : $light_blue;
        border-bottom: 1px solid $light_blue;
        @include media-breakpoint-down(sm) {
            font-size : 37px;
            margin: 0 15px;
            text-align: center;
            border-bottom: none;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-widget {
        p {
            @include media-breakpoint-down(sm){
                text-align: center;
            }
        }

        .text-widget {
            @include media-breakpoint-down(sm){
                margin-bottom: 30px;
            }
        }
    }
    .social {
        .social-icons {
           
            a {
                color: $white;
                font-size: 25px;
                margin: 0 6px;
            }
            
        }
    }
    
    
}
#footer-full-content li a {
    color: $white;
}