// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@font-face {
    font-family: gotham-bold;  
    src: url(../fonts/Gotham-Bold.otf);  
    font-weight: normal;  
}
@font-face {
    font-family: gotham-book;  
    src: url(../fonts/Gotham-Book.otf);  
    font-weight: normal;  
}
@font-face {
    font-family: bebas-neue;  
    src: url(../fonts/BebasNeue-Bold.otf);  
    font-weight: normal;  
}

html, body {
    height:100%;
}
h1, h2, h3, h4, h5 {
    color: $primary;
    font-family: $bebas;
}

p {
    font-family: $myriad;
    font-size: 15px;
    line-height: 22px;
}

.navbar-dark .navbar-nav .nav-link {
    font-family : $gothambook;
    // font-weight : bold;
    font-size : 15px;
    // letter-spacing : 1.16px;
    color : $white;
    text-transform: uppercase;

}

.navbar-dark .navbar-brand img {
    height: 31px;
}
.navbar-brand {
    @include media-breakpoint-down(sm){
        width: 75%;
        margin-right: 0;
    }

}
.navbar-dark {
    position: relative;
    
  .navbar-nav .active>.nav-link {
      background-color: $light_blue;
  }
  .nav-background {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background : #238094;
    filter: alpha(opacity=72) progid:DXImageTransform.Microsoft.Alpha(opacity=72) ;
    opacity: 0.72;
    @include media-breakpoint-down( sm){
        opacity: 1;
    }
  }
}
#wrapper-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    @include media-breakpoint-down(sm){
        opacity: 1;
    }
}


.wp-custom-header iframe,
.wp-custom-header img,
.wp-custom-header video {
	display: block;
    height: 650px;
    height: 47.8vw;
    max-width: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
}

.video-header-wrapper {
    position: relative;
    height: 36vw;
    width: 100%;
    @include media-breakpoint-down(sm){
        margin-top: 56px;
    }
    video {
        position: fixed;
        width: 100% !important;
        height: auto;
        z-index: -1000;
        overflow: hidden;
        object-fit: cover;
        @include media-breakpoint-down(sm) {
            position: relative;
        }
    }

    #controls {
        position: absolute;
        padding-right: 2vw;
        padding-bottom: 2vw;
        right:0;
        bottom: 0;
        button {
            border: none;
            background: none;
            color: $white;
            font-size: 20px;
            opacity: 0.7;
            width: 40px;
            text-align: left;

            &:focus {
                outline: none;
            }
        }
    }
}

.video-overlay {
    .row {
        height: 650px;
        height: 47.8vw;
    }
    
    h1 {
        font-family : $bebas;
        font-size : 104px;
        font-size: 7.64vw;
        line-height : 100px;
        line-height : 7.35vw;
        text-transform : uppercase;
        color : $white;
        text-align: center;
        @include media-breakpoint-up(xl) {
            font-size : 104px;
            line-height : 100px;
        }

    }
}
.mc-button:hover {
    text-decoration: none;
}
.mc-button {
    display: flex;
    .arrow {
       @include media-breakpoint-up(md){
        flex: 0 0 62px; 
       }
       @include media-breakpoint-up(sm){
        flex: 0 0 46px; 
       }
       flex: 0 0 34px; 

        img {
        }
    }
    .button-box {
       // height: 100%;
        display: flex;
        justify-content: center; 
        align-items: center;
        
        p {
            height: 100%;
            margin-left: 2px;
            margin-bottom: 0;
            padding: 8px 26px;
            float: left;
            flex-basis: 1;
            align-items: center;
            display: inline-flex;
            font-family: $bebas;
            font-size : 33px;
            font-size: 2.43vw;
            letter-spacing : 0.83px;
            text-transform : uppercase;
            @include media-breakpoint-up(lg) {
                font-size : 33px;
            }
            @include media-breakpoint-down(sm) {
                font-size : 16px;
                letter-spacing: 0.4px;
            }
        }
    }
    &-primary {
        .arrow {   
            background-color: $grey;
            display: flex;
            justify-content: center; 
            align-items: center;
            
        }
        .button-box p {
            background-color: $primary;
            color: $white;
        }
        img {
            @include media-breakpoint-down(md){
                height: 33px;
            }
            height: 45px;
            
        }
    }

    &-secondary {

        img {
            object-fit: cover;
            height: 100%;
            @include media-breakpoint-down(sm){
                height: 40px;
            }
        }
        .button-box p {
            background-color: $white;
            color: $primary;
        }

    }
    
    
}
.digital-services-wrap {
    background-color: $white;
}
.digital-services-front-page{
    padding-top: 35px;
    margin-bottom: 25px;
    @include media-breakpoint-up(sm) {
        padding-top: 55px;
        margin-bottom: 85px;
    }

    .mc-button {
        @include media-breakpoint-down(sm){
            margin-top: 25px;
        }

        margin-top: 40px
        
    }
    
    h2 {
        font-family: $bebas;
        font-size : 72px;
        font-size: 5.3vw;
        line-height : 64px;
        line-height: 4.7vw;
        text-transform : uppercase;
        color : $primary;
        @include media-breakpoint-up(xl) {
            font-size : 72px;
            line-height : 64px;
        }
        @include media-breakpoint-down(sm) {
            font-size : 40px;
            line-height : 36px;
            text-align: center;
        }
    }
    .digital-services-img {
        @include media-breakpoint-down(sm){
            margin-top: 28px;
        }
    }
}
.service-icon {
    border-radius: 100%;
    border: 8px solid $white;
    max-width: 160px;
    width: 16.76vw;
    max-height: 160px;
    height: 16.76vw;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    @include media-breakpoint-up(xl) {
        width: 160px;
        height: 160px;
    }
    @include media-breakpoint-down(sm) {
        width: 140px;
        height: 140px;
    }
    img {
        margin: 0 2vw;
    }
}
.service-box {
    z-index: -1;
    width: 100%;
    max-width: 395px;
    margin: 0 auto;
    max-height: 157px;
    height: 14vw;
    @include media-breakpoint-down(lg){
        height: 157px;
    }
    text-align: center;
    position: relative;
    @include media-breakpoint-down(sm){
       // margin-top: -70px;
    }
    h4 {
        position: absolute;
        bottom:0;
        left: 0;
        width: 100%;
        font-family : $bebas;
        font-size : 39px;
        //font-size: 2.87vw;
        letter-spacing : 0.39px;
        text-transform : uppercase;
        color : $white;
        @include media-breakpoint-up(lg) {
            font-size : 39px;
        }
    }
}

.services-slider {

    .service-wrap {
        padding: 0 10px;
        @include media-breakpoint-down(sm){
            width: 100%;
            margin-top: -50px;
        }
        margin-top: -85px;
        z-index: 1;
            
    }

    padding-bottom: 60px;
    padding-bottom: 4.41vw;
    @include media-breakpoint-up(lg){
        padding-bottom: 60px;
    }
    .service-icon {
        background-color: $primary;
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
    }
    .service-box {
        width: 100%;
        
        background : -moz-linear-gradient(0% 50% 0deg,rgba(204, 211, 212, 1) 0%,rgba(225, 232, 233, 1) 71.43%,rgba(204, 211, 212, 1) 100%);
        background : -webkit-linear-gradient(0deg, rgba(204, 211, 212, 1) 0%, rgba(225, 232, 233, 1) 71.43%, rgba(204, 211, 212, 1) 100%);
        background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(204, 211, 212, 1) ),color-stop(0.7143,rgba(225, 232, 233, 1) ),color-stop(1,rgba(204, 211, 212, 1) ));
        background : -o-linear-gradient(0deg, rgba(204, 211, 212, 1) 0%, rgba(225, 232, 233, 1) 71.43%, rgba(204, 211, 212, 1) 100%);
        background : -ms-linear-gradient(0deg, rgba(204, 211, 212, 1) 0%, rgba(225, 232, 233, 1) 71.43%, rgba(204, 211, 212, 1) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCD3D4', endColorstr='#CCD3D4' ,GradientType=0)";
        background : linear-gradient(90deg, rgba(204, 211, 212, 1) 0%, rgba(225, 232, 233, 1) 71.43%, rgba(204, 211, 212, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCD3D4',endColorstr='#CCD3D4' , GradientType=1);
        a {
            position: absolute;
            bottom:0;
            left: 0;
            width: 100%;
            font-family : $bebas;
            font-size : 32px;
            letter-spacing : 0.32px;
            text-transform : uppercase;
            color : $white;
    
        }
    }
    
}

.creative-services-front-page {
    @include media-breakpoint-up(sm){
        padding: 98px 0 86px 0;
    }
    padding: 30px 0;
    position: relative;
    z-index: 1;
    filter: alpha(opacity=70) progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    .background-img {
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        @include media-breakpoint-up(sm){
            background-image: url(../images/background-dots.png);
        }
        background-repeat: repeat;
        background-position: center;
        opacity: 0.7;
        filter: alpha(opacity=70) progid:DXImageTransform.Microsoft.Alpha(opacity=70) ;
    }
    .background-color {
        z-index: -2;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $primary
    }
    h2 {
        font-family : $bebas;
        font-size : 90px;
        font-size: 6.62vw;
        line-height : 88.37px;
        line-height: 6.5vw;
        text-transform : uppercase;
        color : $white;
        text-align: center;
        margin-bottom: 28px;
        @include media-breakpoint-up(xl) {
            font-size : 90px;
            line-height : 88.37px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 40px;
            line-height: 40px;
        }
    }
    .creative-service-offerings {
        margin-top: 78px;
        @include media-breakpoint-down(sm){
            margin-top: 0;
        }
        .col-lg-4 {
            margin-top: 25px;
            @include media-breakpoint-down(sm){
                margin-top: -15px;
            }
            margin-top: -85px;
        }
    }

    .mc-button {
        margin: 0 auto;
    }

    .service-box {
        border-right: 2px solid $white;
        border-bottom: 2px solid $white;
        border-left: 2px solid $white;
        opacity: 0.57;
        color: $white;
    }
    .service-icon-wrap {
        display: flex;
        align-items: center;
        max-width: 395px;
        margin: 0 auto;
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(50%);
          .icon-left{
            display: block;
            content: "";
            flex: 1;
            height: 2px;
            border-bottom: 2px solid $white;
            opacity: 0.57;
          }
    }
    
}

.explore-services-wrapper {
    padding: 30px 0;
    @include media-breakpoint-up(sm){
        padding: 90px 0 50px 0;
        background : -moz-linear-gradient(50% 1.35% -90deg,rgba(255, 255, 255, 1) 0%,rgba(204, 211, 212, 1) 100%);
        background : -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(204, 211, 212, 1) 100%);
        background : -webkit-gradient(linear,50% 1.35% ,50% 54.18% ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(204, 211, 212, 1) ));
        background : -o-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(204, 211, 212, 1) 100%);
        background : -ms-linear-gradient(-90deg, rgba(255, 255, 255, 1) 0%, rgba(204, 211, 212, 1) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CCD3D4' ,GradientType=0)";
        background : linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(204, 211, 212, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#CCD3D4' , GradientType=0);
        }

        .digital-services-front-page {
            margin-bottom: 0;
            padding-top:0;
        }

        .mc-button {
            margin-top: 40px;
            margin-bottom: 50px;
        }
    }

.dividing-line {
    border-top : 4px Solid #CCD3D4; 
    height: 4px;;

}

.header-text-col {
    display: inline-flex;
    @include media-breakpoint-up(sm){
       height: 42vw;
       padding: 0;
    }
    @include media-breakpoint-up(md){
        height: 36vw;
        padding: 0;
    }
   height: 70vw;
   align-items: center;
    .header-text {
        font-family : $bebas;
        font-weight : bold;
        font-size : 34px;
        line-height : 33.49px;
        text-align: center;
        @include media-breakpoint-up(sm){
            font-size : 8vw;
            line-height : 7.5vw;
            padding-top: 50px;
        }
        @include media-breakpoint-up(xl){
            font-size : 104px;
            line-height : 100px;
            padding-top: 50px;
        }
        text-transform : uppercase;
        color : $white;
    }
}


.about-header-wrapper {
    width: 100%;
    @include media-breakpoint-up(sm){
        position: relative;
        height: 43vw;
    }
    @include media-breakpoint-up(md){
        position: relative;
        height: 36vw;
        
    }
}

.about-header {
    
    background-image: url(../images/about-header-mobile.png);
    margin-top: 56px;
    @include media-breakpoint-up(sm) {
        background-image: url(../images/about-header-full.png);
        margin-top: 0;
    }
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    position: fixed;
    // width: 100% !important;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    object-fit: cover;
    @include media-breakpoint-down(sm) {
        position: relative;
    }    

    .container {
        //padding-top: 400px;
        

        
        p {
            font-family : $gotham;
            font-size : 20px;
            line-height : 26.86px;
            letter-spacing : -0.2px;
            color : $white;
  
        }
    }
}
.about-body-wrap {
    background-color: $white;
}
.about-body {
    @include media-breakpoint-up(sm){
        padding: 60px auto;
    }

    h2 {
        font-family : $bebas;
        text-transform: uppercase;
        color: $white;
        font-weight : bold;
        font-size : 25px;
        line-height : 25.01px;
        letter-spacing : 0.25px;
        @include media-breakpoint-up(sm){
            color: $primary;
            font-size : 43px;
            line-height : 46.55px;
            letter-spacing : 0.43px;
        }
        

        
    }
    h3 {
        color: $primary;
        font-family: $bebas;
        font-size: 31px;
        line-height: 30px;
        padding-bottom: 20px;
    }
    .about-tag-wrap {
        @include media-breakpoint-down(sm){
            background-color: $light_blue;
            display: none;
        }
        @include media-breakpoint-up(sm){
            padding-top: 30px;
        }
    }
    .about-tag {
        @include media-breakpoint-down(sm){
            padding: 18px 0 28px;
        }
        margin: 0 auto;
    }
    .about-team {
        @include media-breakpoint-down(sm){
            display: none;
        }

        margin: 0 auto;
    }
    .about-team p {
        font-family : $gothambook;
        font-size : 23px;
        line-height : 31.92px;
        letter-spacing : -0.23px;
        color : $black;

    }

    .myriad-about {
        @include media-breakpoint-down(sm){
            border-bottom : $dividing_line;
            margin: 30px 0 60px; 
            padding-bottom: 80px;

        }
    }
    .route1a-about {
        @include media-breakpoint-down(sm){
            margin: 30px 0 60px;
        }
    }

    .dividing-line {
        margin: 28px 0 54px;
        @include media-breakpoint-down(sm){
            display: none;
        }
    }
    p{
        font-family : $myriad;
        font-size : 15px;
        line-height : 22px;
    }
}

.creative-services {

    .about-header-wrapper {
       // max-height: 550px !important;
    }
    .creative-services-header{
        background-image: url(../images/creative-services-header-mobile.png);
        @include media-breakpoint-up(sm){
            background-image: url(../images/creative-services-header.png);
        }
        // background-position: center;
        // background-size: 100% 100%;
        // background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        width: 100%;
        position: fixed;
        height: auto;
        z-index: -1000;
        overflow: hidden;
        object-fit: cover;
        @include media-breakpoint-down(sm) {
            position: relative;
            margin-top: 56px;
        }    
        .header-text {
            margin: 0 auto;
        }
    }
    .creative-services-wrapper{
        background-color: $white;
        padding-top: 25px;

        .col-sm-4 {
            text-align: center;
        }
    }
    .container {
        
       // padding-top: 64px;
        //padding-bottom: 110px;
    }

    .col-sm-4 {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.contact {
    .container {
        margin-top: 80px;
    }
    .social-icons {
        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                display: inline-block;
                padding: 0 10px 0 0;

                .fa {
                    font-size: 20px;
                }
            }
        }
    }
}


.google-map-wrapper {
    height:430px; 
    width:100%; 
    display:inline-block; 
    overflow:hidden;
    iframe {
        position:relative; 
        top:-50px; 
        border:none;
    }
}

