// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #238094;
$light_primary: #99cccc; // Thats a sample how you could change a BootStrap variable.
$grey: #CCD3D4;
$white: #ffffff;
$light_blue: #66B2B8;
$dark_grey: #6C7072;

$dividing_line: 4px Solid #CCD3D4;


//font
$bebas: bebas-neue, sans-serif;
$myriad: myriad-pro, sans-serif;;
$gotham: gotham-bold, sans-serif;
$gothambook: gotham-book, gotham, sans-serif;
 
